.body1 {
	background-image: url(https://i.blogs.es/bef598/roger/1366_2000.jpeg);
}

.body2 {
	background-color: #2C3440 ;
}


.title {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 65px;
	text-shadow: 2px 2px 2px #000000;
	padding-top: 5px;
	margin: 4px;
	cursor: pointer;
}

.title:hover {
	color: #F6D46D;
}

.menu {
	display: grid;
	grid-template-columns: 220px 220px 220px;
	justify-content: space-between;
	width: 50%;
	font-size: 25px;
	padding-top: 7px;
	list-style: none;
}

.menu li {
	padding-top: 22px;
}

.menu li a{
	color: #F6D46D;
	font-size: 25px;
	padding-top: 25px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 2px #000000;
	text-decoration: none;
	cursor: pointer;
	margin: 10px;
}

.menu li a:hover {
	color: white;
}

.orden {
	display: grid;
	grid-template-areas: "title menu";
	border-style: solid;
	border-bottom-color: #F6D46D;
	background-color: rgba(0,0,0,0.5);
}

.inicio {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	padding-top: 350px;
	font-size: 26px;
	text-shadow: 2px 2px 2px #000000;
}


.container {
	display: flex;
	justify-content: center;
	color: black;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

.btn-warning {
	box-shadow: 4px 4px 4px black;
}

.carousel {
	padding-top: 40px;
}

.fotos {
	height: 490px;
	width: 1100px;
	border-radius: 30px;
	border-style: solid;
	border-color: #F6D46D;
	margin: auto;
	display: flex;
	justify-content: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.subtitulo {
	color: #F6D46D;
	margin: 30px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.subtitulo1 {
	color: #F6D46D;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration:none;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.movies {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-gap: 20px;
	justify-content: center;
	padding-top: 20px;
}


.portada {
	width: 200px;
	height: 300px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
	overflow: hidden;
}

.portada:hover {
	cursor: pointer;
    opacity: 0.5;   
}

.portada1 {
	width: 200px;
	height: 250px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.portada1:hover {
	cursor: pointer;
    opacity: 0.5;  
}

.portadainicio {
	width: 300px;
	height: 400px;
	border-style: solid;
	border-color: white;
	box-shadow: 4px 4px 4px black;
	margin: 20px;
}

.ficha {
	text-align: center;
	margin-top: 20px;
	height: 405px;
	box-shadow: 4px 4px 4px black;
	background-color: black;
}

.ficha h1 {
	font-size: 60px;
	text-shadow: 2px 2px 2px #000000;
    font-family: 'Bebas Neue', cursive;
    padding-top: 40px;
    color: white;
}

.ficha p {
	font-size: 22px;
	text-shadow: 2px 2px 2px #000000;
	font-family: 'Raleway', sans-serif;
	color: white;
}


.cuerpo {
	display: grid;
	grid-template-columns: 560px 600px;
	border-style: solid;
	border-color: #F6D46D;
	background-color: black;
	padding: 20px;
}

.videos {
	margin: 30px;
}

.final {
	list-style: none;
	margin-top:20px;
	width: 100%;
	background-color: black;
	bottom: 0px;
	border-top-style: solid;
	border-top-color: #F6D46D;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.final li {
	color: white;
}

.texto h1 {
	color: #F6D46D;
	font-family: 'Bebas Neue', cursive;
	margin: 20px;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.texto p {
	color: white;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 2px #000000;
}

.imagen {
	padding-top: 70px;
	padding-left: 80px;
}

.imagen1 {
	padding-top: 500px;
}

.imagen2 {
	padding-left: 950px;
}

.imagen3 {
    padding-top: 522px;
    padding-left: 80px;
}

.imagen4 {
	padding-top: 970px;
}

.retrato {
	height: 350px;
	width: 390px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato1 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato2 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato3 {
	height: 360px;
	width: 390px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato4 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.biography {
	width: 1349px;
	height: 700px;
	border-style: solid;
	border-bottom-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.titulo1{
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 160px;
}

.titulo2 {
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 680px;
	text-shadow: 2px 2px 2px #000000;
}

.titulo3 {
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 540px;
	text-shadow: 2px 2px 2px #000000;
}


.bio {
	display: grid;
	grid-template-areas: "texto imagen"
	                     "texto imagen1"
	                     "texto imagen2"
	                     "texto imagen3"
	                     "texto imagen4";
	grid-template-columns: 850px 100px 80px;
    grid-template-rows: 1030px 100px;
}

.teamDeakins {
	display: grid;
	grid-template-areas: "podcast playlist";
}

.podcast {
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
	width: 620px;
	height: 300px;
}

.podcast:hover {
	cursor: pointer;
    opacity: 0.5;  
}

.playlist {
	padding-right: 20px;
	width: 480px;
	height: 380px;
}

.videos {
	border-style: solid;
	border-color: #F6D46D;
	width: 550px;
	height: 350px;
	margin: 33px;
	box-shadow: 4px 4px 4px black;
}

.backset {
	margin: 10px;
}

.grabacion {
	border-style: solid;
	border-color: #F6D46D;
}

.carousel-item1{
	width: 544px;
	height: 344px;
}

.orden2 {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-gap: 190px;
}

.orden3 {
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	justify-content: center;
}

.storyline {
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.storyline p {
	font-size: 25px
}

