.body1 {
	background-image: url(https://i.blogs.es/bef598/roger/1366_2000.jpeg);
}

.body2 {
	background-color: #2C3440 ;
}


#title {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 80px;
	text-shadow: 2px 2px 2px #000000;
	padding-top: 15px;
	margin: 4px;
	margin-left: 20px;
	transition-property: color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#title:hover {
	color: #F6D46D;
	cursor: pointer;
}

#fontmenu {
	font-family: 'Lobster', cursive;
}

.menu {
	display: grid;
	grid-template-columns: 130px 130px 130px;
	grid-gap: 50px;
	list-style: none;
	text-decoration: none;
	color: #F6D46D;
	margin-top: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 27px;
	text-shadow: 2px 2px 2px black;
}

.menu li:hover {
	color: white;
	cursor: pointer;
}

#bio::before {
	content: "Chapter One";
	position: absolute;
	transform: translate(-5%, -5%);
	transition: .4s ease;
	color: #F6D46D;
}

#bio:after {
	content: "Biography";
	position: absolute;
	transform: translate(-5%, -5%) scale(0);
	transition: .4s ease;
	opacity: 0;
	color: white;
}

#bio:hover::before {
	transform: translate(-5%, -5%) scale(2);
	opacity: 0;
}

#bio:hover::after {
	transform: translate(-5%, -5%) scale(1);
	opacity: 1;
}

#nominations:before {
	content: "Chapter Two";
	position: absolute;
	transform: translate(-5%, -5%);
	transition: .4s ease;
	color: #F6D46D;
}

#nominations:after {
	content: "Nominations";
	position: absolute;
	transform: translate(-5%, -5%) scale(0);
	transition: .4s ease;
	opacity: 0;
	color: white;
}

#nominations:hover::before {
	transform: translate(-5%, -5%) scale(2);
	opacity: 0;
}

#nominations:hover::after {
	transform: translate(-5%, -5%) scale(1);
	opacity: 1;
}

#techniques:before {
	content: "Chapter Three";
	position: absolute;
	transform: translate(-5%, -5%);
	transition: .4s ease;
	color: #F6D46D;
}

#techniques:after {
	content: "Techniques";
	position: absolute;
	transform: translate(-5%, -5%) scale(0);
	transition: .4s ease;
	opacity: 0;
	color: white;
}

#techniques:hover::before {
	transform: translate(-5%, -5%) scale(2);
	opacity: 0;
}

#techniques:hover::after {
	transform: translate(-5%, -5%) scale(1);
	opacity: 1;
}

.theBookLogo {
	height: 80px;
	width: 80px;
	-webkit-filter: drop-shadow(2px 1px 0 black)
	                drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(2px 1px 0 black)
            drop-shadow(-1px -1px 0 black);
	overflow: hidden;
}

.theBookLogo:hover {
	cursor: pointer;
}

.orden {
	display: grid;
	grid-template-areas: "title menu theBookLogo";
	border-style: solid;
	border-bottom-color: #F6D46D;
	background-color: rgba(0,0,0,0.5);
	background-size: auto;
}

.inicio {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	padding-top: 310px;
	font-size: 26px;
	text-shadow: 2px 2px 2px #000000;
}


.container {
	display: flex;
	justify-content: center;
	color: black;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

.btn-warning {
	box-shadow: 4px 4px 4px black;
}

.carousel {
	padding-top: 40px;
}

.fotos {
	height: 490px;
	width: 1100px;
	border-radius: 30px;
	border-style: solid;
	border-color: #F6D46D;
	margin: auto;
	display: flex;
	justify-content: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.subtitulo {
	color: #F6D46D;
	margin: 30px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.subtitulo1 {
	color: #F6D46D;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration:none;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.movies {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-gap: 20px;
	justify-content: center;
	padding-top: 20px;
}


.portada {
	width: 200px;
	height: 300px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
	overflow: hidden;
}

.portada:hover {
	cursor: pointer;
    opacity: 0.5;   
}

.portada1 {
	width: 200px;
	height: 250px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.portada1:hover {
	cursor: pointer;
    opacity: 0.5;  
}

.portadainicio {
	width: 300px;
	height: 400px;
	border-style: solid;
	border-color: white;
	box-shadow: 4px 4px 4px black;
	margin: 20px;
}

.ficha {
	text-align: center;
	margin-top: 20px;
	height: 405px;
	box-shadow: 4px 4px 4px black;
	background-color: black;
}

.ficha h1 {
	font-size: 60px;
	text-shadow: 2px 2px 2px #000000;
    font-family: 'Bebas Neue', cursive;
    padding-top: 40px;
    color: white;
}

.ficha p {
	font-size: 22px;
	text-shadow: 2px 2px 2px #000000;
	font-family: 'Raleway', sans-serif;
	color: white;
}


.cuerpo {
	display: grid;
	grid-template-columns: 560px 600px;
	border-style: solid;
	border-color: #F6D46D;
	background-color: black;
	padding: 20px;
}

.videos {
	margin: 30px;
}

.final {
	list-style: none;
	margin-top:20px;
	width: 100%;
	background-color: black;
	bottom: 0px;
	border-top-style: solid;
	border-top-color: #F6D46D;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.final li {
	color: white;
}

.texto h1 {
	color: #F6D46D;
	font-family: 'Bebas Neue', cursive;
	margin: 20px;
	text-shadow: 2px 2px 2px #000000;
	letter-spacing: .075em;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.texto p {
	color: white;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 2px #000000;
}

.imagen {
	padding-top: 70px;
	padding-left: 80px;
}

.imagen1 {
	padding-top: 500px;
}

.imagen2 {
	padding-left: 950px;
}

.imagen3 {
    padding-top: 522px;
    padding-left: 80px;
}

.imagen4 {
	padding-top: 970px;
}

.retrato {
	height: 350px;
	width: 390px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato1 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato2 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato3 {
	height: 360px;
	width: 390px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.retrato4 {
	height: 440px;
	width: 370px;
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.biography {
	width: 1349px;
	height: 700px;
	border-style: solid;
	border-bottom-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.titulo1{
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 160px;
}

.titulo2 {
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 680px;
	text-shadow: 2px 2px 2px #000000;
}

.titulo3 {
	font-size: 300px;
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	color: white;
	letter-spacing: .115em;
	padding-top: 300px;
	padding-left: 540px;
	text-shadow: 2px 2px 2px #000000;
}


.bio {
	display: grid;
	grid-template-areas: "texto imagen"
	                     "texto imagen1"
	                     "texto imagen2"
	                     "texto imagen3"
	                     "texto imagen4";
	grid-template-columns: 850px 100px 80px;
    grid-template-rows: 1030px 100px;
}

.teamDeakins {
	display: grid;
	grid-template-areas: "podcast playlist";
}

.podcast {
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
	width: 620px;
	height: 300px;
}

.podcast:hover {
	cursor: pointer;
    opacity: 0.5;  
}

.playlist {
	padding-right: 20px;
	width: 480px;
	height: 380px;
}

.videos {
	border-style: solid;
	border-color: #F6D46D;
	width: 550px;
	height: 350px;
	margin: 33px;
	box-shadow: 4px 4px 4px black;
}

.backset {
	margin: 10px;
}

.grabacion {
	border-style: solid;
	border-color: #F6D46D;
}

.carousel-item1{
	width: 544px;
	height: 344px;
}

.orden2 {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-gap: 190px;
}

.orden3 {
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	justify-content: center;
}

.storyline {
	border-style: solid;
	border-color: #F6D46D;
	box-shadow: 4px 4px 4px black;
}

.storyline p {
	font-size: 25px
}

 /* Biography ----------------------------------*/

 .body2 {
	background-image: url(https://cdn.pixabay.com/photo/2016/09/10/13/34/vintage-1659117_960_720.jpg);
	background-position-x: center;
	background-size: 1630px;
}

.ordenado {
	display: grid;
	grid-template-areas: "title menu theBookLogo";
	border-style: solid;
	border-bottom-color: #F6D46D;
	background-color: rgba(0,0,0,0.785);
	background-size: auto;
}

#intro {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}



.face {
	margin: 20px;
	margin-left: 50px;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-radius: 50px;
	border-color: black;
	box-shadow: 2px 2px 2px black;
	overflow: hidden;
	opacity: 0.8;
	transition: all .3s ease-in-out;
}

.face:hover {
	cursor: pointer;
	opacity: 1.8;
}


#hola {
	font-size: 35px;
	margin: 20px;
	color: black;
	margin-top: 50px;
	text-shadow: 1px 1px 1px black;
	font-family:  'Lobster', cursive;
	opacity: 0.8;
}

#hola:hover {
	opacity: 1.8;
	cursor: pointer;
}


#paginas {
	display: grid;
	grid-template-columns: 100px 100px;
	grid-gap: 630px;
}


.texto {
	margin: 15px;
	margin-left: 60px;
	width: 500px;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.texto2 {
	margin: 15px;
	width: 500px;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

